body{
  min-height: 100vh;
  background-color:gray;
}
.mainContainer{
  
  display: flex;
  justify-content: center;
  min-height: 80vh;
 
  text-align: center;
  
  
  
}
.hidden{
  visibility: hidden;
}
.game{
  padding-top: 250px;
  display: none;
  background-color: blue;
  min-width: 55%
}
.informationAboutPreviousGuesses{
  float: left;
}
.previousNumber{
  float: right;
  padding-left: 15px;
  padding-right: 5px;
}
.resetB{
    display: flex;
    margin-top: 80px;
    justify-content: center;
    align-items: center;

}