body{
  min-height: 100vh;
  background-image: linear-gradient(to right bottom, #e4c7a7, #d245db, #a22dce, rgb(41, 110, 101), #4d56bd);
}
.mainContainer{
  
  display: flex;
  justify-content: center;
  min-height: 80vh;
 
  text-align: center;
  
  
  
}
.guess{
  visibility: hidden;
}
.game{
  padding-top: 250px;
  display: none;
  background-color: blue;
  min-width: 35vh
}